<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping package="queryopt.entities" />

		<mapping class="queryopt.entities.Atribute" />
		<mapping class="queryopt.entities.Index" />
		<mapping class="queryopt.entities.IndexAtribute" />
		<mapping class="queryopt.entities.Query" />
		<mapping class="queryopt.entities.Relation" />
		<mapping class="queryopt.entities.Schema" />
		<mapping class="queryopt.entities.SystemInfo" />
	</session-factory>
</hibernate-configuration>
